<footer>
    <div class="footer_container">
        {{!-- =============== About US ================= --}}
        <div class="footer_left footer_box">
            <h2>About Us</h2>
            <div class="footer_content">
                <p>Hai there, I am Muhammed Savad, A Full Stack Web Developer From Kerala, India. I am Currently Studying on 8th Standard.Coding is my passion and I am Strong in that</p>
                <div class="footer_social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-instagram' ></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
        {{!-- ============= Address ============== --}}
        <div class="footer_center footer_box">
            <h2>Address</h2>
            <div class="footer_content">
                <div class="footer_place">
                    <i class='bx bxs-map' ></i>
                    <span class="footer_text">Moorkkanad, Thekkumpuram</span>
                </div>
                <div class="footer_phone">
                    <i class='bx bxs-phone' ></i>
                    <span class="footer_text">+91 9846860744</span>
                </div>
                <div class="footer_email">
                    <i class='bx bx-envelope' ></i>
                    <span class="footer_text">savadmoorkkanad@gmail.com</span>
                </div>
            </div>
        </div>
        {{!-- ========= Contact =============== --}}
        <div class="footer_right footer_box">
            <h2>Contact Us</h2>
            <div class="footer_content">
                <form>
                    <div class="email">
                        <div class="footer_text">Email *</div>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="msg">
                        <div class="footer_text">Message *</div>
                        <textarea name="message" id="message" cols="25" rows="2"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{!-- =========== Copywrite Content =============== --}}
    <div class="footer_bottom">
        <center>
            <span class="credit">Created by <a href="#">Muhammed Savad</a> | </span>
            <i class='bx bx-copyright' ></i><span>All Rights Reserved 2020</span>
        </center>
    </div>
</footer>