<div class="banner">
    <div class="banner_container">
        <div class="banner_img">
            <img src="/images/hero.png" class="animate__animated animate__heartBeat animate__delay-1s animate__slower animate__infinite" alt="banner_image">
        </div>
        <div class="banner_text animate__animated animate__backInRight">
            <h4>Revolution, Quality Control, Easy management</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint qui repellat nihil asperiores alias quo,
                expedita excepturi incidunt laudantium aut?
            </p>
            <a href="/products">Get Started &rarr;</a>
        </div>
    </div>
</div>