{{!-- =================== Banner Section ==================== --}}
<div class="banner">
    <div class="banner_container">
        <div class="banner_img">
            <img src="/images/hero.png"
                class="animate__animated animate__heartBeat animate__delay-1s animate__slower animate__infinite"
                alt="banner_image">
        </div>
        <div class="banner_text animate__animated animate__backInRight">
            <h4>Revolution, Quality Control, Easy management</h4>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint qui repellat nihil asperiores alias quo,
                expedita excepturi incidunt laudantium aut?
            </p>
            <a href="/products">Get Started &rarr;</a>
        </div>
    </div>
</div>

{{!-- =================== Services Section ==================== --}}
<div class="services">
    <div class="services_container">
        <div class="services_content">
            <i class='bx bxs-car'></i>
            <h3>Cash on Delivery</h3>
            <p>
                We will provide the facility of Cash on delivery and 
                Our Products Are verified
            </p>
        </div>
        <div class="services_content">
            <i class='bx bx-credit-card-front'></i>
            <h3>Secure Transactions</h3>
            <p>
                We transacting the money with Secure Payment Gateway.
                You Can Trust On that
            </p>
        </div>
        <div class="services_content">
            <i class='bx bxs-truck'></i>
            <h3>Speed Packing</h3>
            <p>
                If You Give us Extra Money We had created the
                faciliety of Speed Tracking
            </p>
        </div>
    </div>
</div>