{{!-- ============= This is our products page =========== --}}
<main class="product bd-grid">
    {{!-- --------------------- --}}
    <article class="product_card">
        <div class="product_card_img">
            <img src="/images/hero.png" alt="Mixer Grinder">
        </div>
        <div class="product_card_name">
            <p>Mixer Grinder</p>
        </div>
        <div class="product_card_info">
            <a href="#" class="product_card_icon"><i class='bx bx-heart'></i></a>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>795</span>
            </div>
            <a href="#" class="product_card_icon"><i class='bx bx-cart-alt'></i></a>
        </div>
    </article>
    {{!-- ---------------------------- --}}
    {{!-- --------------------- --}}
    <article class="product_card">
        <div class="product_card_img">
            <img src="/images/hero.png" alt="Mixer Grinder">
        </div>
        <div class="product_card_name">
            <p>Mixer Grinder</p>
        </div>
        <div class="product_card_info">
            <a href="#" class="product_card_icon"><i class='bx bx-heart'></i></a>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>795</span>
            </div>
            <a href="#" class="product_card_icon"><i class='bx bx-cart-alt'></i></a>
        </div>
    </article>
    {{!-- ---------------------------- --}}
    {{!-- --------------------- --}}
    <article class="product_card">
        <div class="product_card_img">
            <img src="/images/hero.png" alt="Mixer Grinder">
        </div>
        <div class="product_card_name">
            <p>Mixer Grinder</p>
        </div>
        <div class="product_card_info">
            <a href="#" class="product_card_icon"><i class='bx bx-heart'></i></a>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>795</span>
            </div>
            <a href="#" class="product_card_icon"><i class='bx bx-cart-alt'></i></a>
        </div>
    </article>
    {{!-- ---------------------------- --}}
    {{!-- --------------------- --}}
    <article class="product_card">
        <div class="product_card_img">
            <img src="/images/hero.png" alt="Mixer Grinder">
        </div>
        <div class="product_card_name">
            <p>Mixer Grinder</p>
        </div>
        <div class="product_card_info">
            <a href="#" class="product_card_icon"><i class='bx bx-heart'></i></a>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>795</span>
            </div>
            <a href="#" class="product_card_icon"><i class='bx bx-cart-alt'></i></a>
        </div>
    </article>
    {{!-- ---------------------------- --}}
</main>