<div class="product_table">
    <div class="product_table_row table_head">
        <div class="product_table_cell first_table_cell">
            <p>Name of the User</p>
        </div>
        <div class="product_table_cell">
            <p>Email of the User</p>
        </div>
    </div>
    {{#each Users}}
    <div class="product_table_row last_cell">
        <div class="product_table_cell first_table_cell">
            <p>{{this.Username}}</p>
        </div>
        <div class="product_table_cell">
            <p>{{this.Email}}</p>
        </div>
    </div>
    {{/each}}
</div>