{{!-- ============= This is our products page =========== --}}
<main class="product bd-grid">
    {{!-- --------------------- --}}
    {{#each Products}}
    <article class="product_card">
        <div class="product_card_img">
            <img src=/product_images/{{this._id}}.png alt={{this.Name}}>
        </div>
        <div class="product_card_name">
            <p>{{this.Name}}</p>
        </div>
        <div class="product_card_info">
            <a href="#" class="product_card_icon"><i class='bx bx-heart'></i></a>
            <div>
                <span class="product_card_price"><i class='bx bx-rupee'></i>{{this.Price}}</span>
            </div>
            <a href="#" class="product_card_icon"><i class='bx bx-cart-alt'></i></a>
        </div>
    </article>
    {{/each}}
    {{!-- ---------------------------- --}}
</main>